* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../src/img/background.jpg);
}

.card {
  background-color: rgba(255, 255, 255, 0.068);
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  border-radius: 30px;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.show p {
  text-align: center;
}

.showcase {
  margin-top: 20px;
  width: 90%;
}

.group {
  margin-bottom: 20px;
}

.group label {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
}

.group input {
  margin-top: 7px;
  padding: 11px 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.group input::placeholder {
  font-size: 13px;
}

.group input:focus {
  border: none;
  outline: none;
}

.group p {
  font-size: 20px;
  font-weight: 600;
}

.group select {
  margin-top: 10px;
}

.group select:focus {
  outline: none;
}

.showcase button {
  margin-top: 20px;
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 20px;
}

.payment-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.payment-type button {
  width: 42%;
  margin-top: 10px;
  border-radius: 3px;
  border: none;
  padding: 0.7rem 0.3rem;
}

.payment-type button.active {
  background-color: rgb(156, 148, 148);
  transform: scale(1.13);
}

p.error {
  margin-top: 15px;
  text-align: center;
  padding: 0.6rem;
  background-color: rgba(255, 0, 0, 0.089);
  color: red;
  font-size: 0.95rem;
}

.paymentCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  max-width: 400px;
  border: 1px solid rgb(177, 174, 174);
  padding: 3rem 1rem;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 9px 0px gray;
  position: absolute;
  top: 25%;
  left: 40%;
  background-color: white;
  z-index: 9999;
}

.paymentCard h1 {
  font-size: 1.5rem;
}

.paymentCard img {
  width: 60px;
  height: 60px;
  max-width: 100%;
  max-height: 100%;
}

.paymentCard button {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  width: 60%;
  color: white;
  border-radius: 1.5rem;
  background-color: black;
  border: none;
}

.site-dark {
  opacity: 0.07;
}

@media (max-width: 500px) {
  .card {
    background-color: rgba(32, 29, 29, 0.651);
    width: 93vw;
    padding: 4rem 1.5rem;
  }

  .main {
    width: 100%;
  }

  .showcase {
    width: 100%;
  }

  .paymentCard {
    max-width: 90%;
    border: 1px solid rgb(177, 174, 174);
    padding: 3rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 9px 0px gray;
    position: absolute;
    top: 30%;
    left: 5%;
    background-color: white;
  }
}
